//  ------------------------------  RANDOM COCKTAILS  --------------------------------------

#search-form {
    @include flexCenter(column);
    margin: 1.5rem auto;
    background: $raspberry-pink;
    padding: 0.5rem;
    width: 250px;
    border-radius: 0.25rem;
    color: white;
}

@media screen and (min-width: 1000px){
    #search-form {
        width: 500px;
    }
}

#search-form * {
    margin: 0.1rem;
    font-family: $main-font;
}

#search-form label {
    font-size: 1.2rem;
}

#search-form input {
    width: 80%;
    border: none;
    border-radius: 0.125rem;
    padding: 0.125rem;
    font-size: 1rem;
    text-align: center;
}

#search-form button {
    padding: 0.25rem;
    border: none;
    background: $go-green;
    color: white;
    width: 80%;
    border-radius: 0.125rem;
    font-size: 1.2rem;
    cursor: pointer;
}

#search-form button:hover, 
#search-form button:active {
    background: $go-green-hover;
}

.search-results article {
    margin: 1.5rem 0;
}

.error-message {
    color: red;
    text-align: center;
    font-family: $main-font;
    margin: 2rem;
    font-size: 1rem;
}

@media screen and (min-width: 700px){
    .error-message {
        font-size: 1.4rem;
    }
}

@media screen and (min-width: 1000px) {
    .error-message {
        font-size: 1.7rem;
    }
}
