@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Charm&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Biryani&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light+Two&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Numans&display=swap');

*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

$happy-yellow: #FFDD00;
$raspberry-pink: #FF006D;
$red: #FF006D;
$violet: #8F00FF;
$go-green: #47ED5D;
$go-green-hover: #45e344;
$background-blue: #01BEFE;
$title-font: 'Shadows Into Light Two', cursive;
$caps-font: 'Bebas Neue', cursive;
$main-font: 'Numans', sans-serif;

@mixin flexCenter($direction){
    display: flex;
    flex-direction: $direction;
    justify-content: center;
    align-items: center;
}

@mixin goBtn() {
    display: block;
    background: $go-green;
    font-family: $caps-font !important;
    color: white;
    border: 0.2rem solid black;
    cursor: pointer;
}

@import 'animations';
@import 'cocktail-template';
@import 'navbar';
@import 'toggle-emojis';
@import 'random-cocktails';
@import 'whatcanimake';

.hide {
    display: none;
}

body {
    background: $background-blue;
}

button {
    cursor: pointer;
}

#canvas-container {
    height: 100vh;
    width: 100vw;
}

#canvas {
    height: 100vh;
    width: 100vw;
    background: transparent;
    position: fixed;
}

#root {
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
}

.home-container {
    background: transparent;
    z-index: -2;
    position: absolute;
    top: 80px;
    width: 100%;

}

.welcome-msg {
    font-family: $title-font;
    font-size: 2.5rem;
    color: $happy-yellow;
    margin: 3rem;
    text-align: center;
}

