@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Charm&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Biryani&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light+Two&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Numans&display=swap');

*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

$happy-yellow: #FFDD00;
$raspberry-pink: #FF006D;
$red: #FF006D;
$violet: #8F00FF;
$go-green: #47ED5D;
$go-green-hover: #45e344;
$background-blue: #01BEFE;
$title-font: 'Shadows Into Light Two', cursive;
$caps-font: 'Bebas Neue', cursive;
$cursive-font: 'Numans', sans-serif;
$main-font: 'Numans', sans-serif;

@mixin flexCenter($direction){
    display: flex;
    flex-direction: $direction;
    justify-content: center;
    align-items: center;
}

@mixin goBtn() {
    display: block;
    background: $go-green;
    font-family: $caps-font !important;
    color: white;
    border: 0.2rem solid black;
    cursor: pointer;
}

@import 'animations';
@import 'cocktail-template';
@import 'navbar';
@import 'toggle-emojis';

.hide {
    display: none;
}

body {
    background: $background-blue;
}

button {
    cursor: pointer;
}

#canvas-container {
    height: 100vh;
    width: 100vw;
}

#canvas {
    height: 100vh;
    width: 100vw;
    background: transparent;
    position: fixed;
}

#root {
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
}

.home-container {
    background: transparent;
    z-index: -2;
    position: absolute;
    top: 80px;
    width: 100%;

}

.welcome-msg {
    font-family: $title-font;
    font-size: 2.5rem;
    color: $happy-yellow;
    margin: 3rem;
    text-align: center;
}

//  ------------------------------  RANDOM COCKTAILS  --------------------------------------

#search-form {
    @include flexCenter(column);
    margin: 1.5rem auto;
    background: $raspberry-pink;
    padding: 0.5rem;
    width: 250px;
    border-radius: 0.25rem;
    color: white;
}

@media screen and (min-width: 1000px){
    #search-form {
        width: 500px;
    }
}

#search-form * {
    margin: 0.1rem;
    font-family: $main-font;
}

#search-form label {
    font-size: 1.2rem;
}

#search-form input {
    width: 80%;
    border: none;
    border-radius: 0.125rem;
    padding: 0.125rem;
    font-size: 1rem;
    text-align: center;
}

#search-form button {
    padding: 0.25rem;
    border: none;
    background: $go-green;
    color: white;
    width: 80%;
    border-radius: 0.125rem;
    font-size: 1.2rem;
    cursor: pointer;
}

#search-form button:hover, 
#search-form button:active {
    background: $go-green-hover;
}

.search-results article {
    margin: 1.5rem 0;
}

.error-message {
    color: red;
    text-align: center;
    font-family: $main-font;
    margin: 2rem;
    font-size: 1rem;
}

@media screen and (min-width: 700px){
    .error-message {
        font-size: 1.4rem;
    }
}

@media screen and (min-width: 1000px) {
    .error-message {
        font-size: 1.7rem;
    }
}

//  ----------------    WHAT CAN I MAKE ---------------

#whatcanimake-div {
    @include flexCenter(column);
    background: $happy-yellow;
    padding: 0.5rem;
    @include flexCenter(column);
}

#whatcanimake-div *:not(i) {
    margin: 0.25rem 0;
    font-family: $main-font;
}

#whatcanimake-div p {
    margin-top: 1em;
}

#whatcanimake-div button:not(#whatcanimake-btn),
#whatcanimake-div input {
    padding: 0.4em;
    border: none;
}

#ingredients-form {
    @include flexCenter(row);
    background: red;
    height: 2.5rem;
    width: 100%;
    max-width: 600px;
}

#ingredients-form input {
    display: inline-block;
    width: 70%;
    height: 100%;
    font-size: 1rem;
}

#ingredients-form button {
    color: $happy-yellow;
    height: 100%;
    background: $raspberry-pink;
    width: 30%;
    font-size: 0.8rem;
}

#whatcanimake-btn {
    @include goBtn();
    font-size: 1.6em;
    color: white;
    border: 0.3rem solid white;
    padding: 0.4em;
} 

#your-ingredients-container {
    background: white;
    width: 100%;
    @include flexCenter(column);
    padding: 0.5rem;
    max-width: 600px;
}

.your-ingredients {
    width: 90%;
    padding: 0.2em 0;
}

.your-ingredients li {
    width: auto;
    list-style-type: none;
    border-radius: 0.125em;
    background: #f3f3f3;
}

.your-ingredients li span {
    max-width: 80%;
    overflow-wrap: break-word;
}

.your-ingredients li i {
    cursor: pointer;
    color: #ff5454;
}

.your-ingredients li i:hover {
    color: red;
}

.your-ingredients li div {
    @include flexCenter(row);
    justify-content: space-between;
    padding: 0.25em;
}

@media screen and (min-width: 700px){
    #whatcanimake-div, #ingredients-form input, #ingredients-form button {
        font-size: 1.2rem;
    }
}

@media screen and (min-width: 1000px){
    #whatcanimake-div {
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 1420px){
    #whatcanimake-div {
        font-size: 1.8rem;
    }
}

.searching-with-ingredients-container {
    width: 80vw;
    max-width: 500px;
    @include flexCenter(column);
    margin: 1rem auto;
    font-family: $main-font;
}

.searching-with-ingredients-container h2 {
    text-align: center;
}

.searching-with-ingredients-container ul {
    width: 80%;
    margin: 1rem 0;
}

.searching-with-ingredients-container li {
    @include flexCenter(row);
    background: white;
    width: 100%;
    font-size: 1.2rem;
    justify-content: space-between;
    padding: 0.2rem;
}

.searching-with-ingredients-container li:nth-child(even){
    background: #a8e9ff;
}

.input-error {
    color: red;
    background: #fcc0c0;
}

.missing-ingredient {
    color: red;
    font-weight: bold;
}

.missing-n-ingredients-heading {
    text-align: center;
    font-family: $main-font;
    margin: 2rem;
}

.missing-ingredients-title {
    font-size: 1.2rem;
}


@media screen and (min-width: 1000px){
    .missing-n-ingredients-heading {
        font-size: 1.5rem;
        margin: 3.5rem;
    }
    .missing-ingredients-title {
        font-size: 1.8rem;
        margin: 3.5rem;
    }
}