@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Charm&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Biryani&display=swap');

*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

$light-blue: #0197F6;
$dark-blue: #02182B;
$red: #D7263D;
$grey-blue: #448FA3;
$mid-blue: #68C5DB;
$go-green: #3bc73a;
$go-green-hover: #45e344;
$title-font: 'Lobster', cursive;
$caps-font: 'Bebas Neue', cursive;
$cursive-font: 'Charm', cursive;
$main-font: 'Biryani', sans-serif;


@mixin flexCenter($direction){
    display: flex;
    flex-direction: $direction;
    justify-content: center;
    align-items: center;
}

@mixin goBtn() {
    display: block;
    background: $go-green;
    font-family: $caps-font;
    color: white;
    border: 0.2rem solid black;
    cursor: pointer;
}

@import 'animations';
@import 'cocktail-template';
@import 'navbar';

.hide {
    display: none;
}

#root {
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
}

.home-container {
    background: transparent;
    z-index: -2;
    position: absolute;
    top: 80px;
    width: 100%;

}

.welcome-msg {
    font-family: $title-font;
    font-size: 2.5rem;
    color: $dark-blue;
    margin: 3rem;
    text-align: center;
}

//  ------------------------------  RANDOM COCKTAILS  --------------------------------------

#search-form {
    @include flexCenter(column);
    margin: 1.5rem auto;
    background: $dark-blue;
    padding: 0.5rem;
    width: 250px;
    border-radius: 0.25rem;
    color: white;
}

@media screen and (min-width: 1000px){
    #search-form {
        width: 500px;
    }
}

#search-form * {
    margin: 0.1rem;
    font-family: $main-font;
}

#search-form label {
    font-size: 1.2rem;
}

#search-form input {
    width: 80%;
    border: none;
    border-radius: 0.125rem;
    padding: 0.125rem;
    font-size: 1rem;
    text-align: center;
}

#search-form button {
    padding: 0.25rem;
    border: none;
    background: $go-green;
    color: white;
    width: 80%;
    border-radius: 0.125rem;
    font-size: 1.2rem;
    cursor: pointer;
}

#search-form button:hover, 
#search-form button:active {
    background: $go-green-hover;
}

.search-results article {
    margin: 1.5rem 0;
}

.error-message {
    color: red;
    text-align: center;
    font-family: $main-font;
    margin: 2rem;
}

//  ----------------    WHAT CAN I MAKE ---------------

#whatcanimake-div {
    @include flexCenter(column);
    background: $grey-blue;
    padding: 1.5rem 0;
}

#whatcanimake-div * {
    margin: 0.25rem 0;
    font-family: $main-font;
}

#whatcanimake-div p {
    margin-top: 1em;
}

#whatcanimake-div button,
#whatcanimake-div input {
    padding: 0.4em;
    border: none;
}

#ingredients-form {
    @include flexCenter(column);
}

#ingredients-form input {
    font-size: 0.8em;
}

#ingredients-form button {
    color: white;
    font-size: 0.8em;
    background: $dark-blue;
}

#whatcanimake-btn {
    @include goBtn();
    font-size: 1.6em;
} 

.your-ingredients {
    width: 90%;
    padding: 0.2em;
    max-width:  1100px;
}

.your-ingredients li {
    width: 100%;
    list-style-type: none;
    background: $mid-blue;
    border-radius: 0.125em;
}

.your-ingredients li div {
    @include flexCenter(row);
    justify-content: space-between;
    padding: 0.3em;
}

.remove-ingredient-btn {
    background: $red;
    color: white;
    border: none;
    font-family: $caps-font !important;
    font-size: 1.5em;
}

@media screen and (min-width: 360px){
    #ingredients-form {
        flex-direction: row;
    }
}

@media screen and (min-width: 700px){
    #whatcanimake-div {
        font-size: 1.2rem;
    }
    #ingredients-form {
        font-size: 1.2rem;
    }
}

@media screen and (min-width: 1000px){
    #whatcanimake-div {
        font-size: 1.5rem;
    }
    #ingredients-form {
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 1420px){
    #whatcanimake-div {
        font-size: 1.8rem;
    }
    #ingredients-form {
        font-size: 1.8rem;
    }
}

.missing-ingredient {
    color: red;
    font-weight: bold;
}

.missing-n-ingredients-heading {
    text-align: center;
    font-family: $main-font;
    margin: 2rem;
}

.missing-ingredients-title {
    font-size: 1.2rem;
}


@media screen and (min-width: 1000px){
    .missing-n-ingredients-heading {
        font-size: 1.5rem;
        margin: 3.5rem;
    }
    .missing-ingredients-title {
        font-size: 1.8rem;
        margin: 3.5rem;
    }
}